/*
    Beatable Meat Portal STYLES definer file. Written by https://github.com/sabian-heatwave for Beatable Meat Portal's frame code @ The Phoenix Project
        Copyright © 2020 The Phoenix Project
*/
/* 
    ALL HTML FILES WILL USE THESE STYLES DEFINED HERE UNLESS STATED OTHERWISE IN THE HTML FILE ITSELF.
*/
body {
    font-family:Arial;
    background-color: #0703fc;
}

h1 {
    font-family:Arial;
    color: white;
}

h2 {
    font-family:Arial;
    color: white;
}

h3 {
    font-family:Arial;
    color: white;
}

p {
    font-family:Arial;
    color: white;
}

a {
    font-family:Arial;
    color: white;
}
