/*
    Beatable Meat Portal STYLES definer file. Written by https://github.com/sabian-heatwave for Beatable Meat Portal's frame code @ The Phoenix Project
        Copyright © 2020 The Phoenix Project
*/
/* 
    ALL HTML FILES WILL USE THESE STYLES DEFINED HERE UNLESS STATED OTHERWISE IN THE HTML FILE ITSELF.
*/
/* Font definers */
body {
    font-family: 'Bahnschrift Regular';
    background-color: #07fc03;
    text-align: center;
}

h1 {
    font-family: 'Bahnschrift Regular';
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Bahnschrift Regular';
    color: black;
    text-align: center;
}

h3 {
    font-family: 'Bahnschrift Regular';
    color: black;
    text-align: center;
}

p {
    font-family: 'Bahnschrift Regular';
    color: black;
    text-align: center;
}

a {
    font-family: 'Bahnschrift Regular';
    color: white;
    text-align: center;
}
