.hexicframe {
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 50%;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

body {
    background-color: black;
}