/*
    Beatable Meat Portal STYLES definer file. Written by https://github.com/sabian-heatwave for Beatable Meat Portal's frame code @ The Phoenix Project
        Copyright © 2020 The Phoenix Project
*/
/* 
    ALL HTML FILES WILL USE THESE STYLES DEFINED HERE UNLESS STATED OTHERWISE IN THE HTML FILE ITSELF.
*/
/* Font definers */
body {
    font-family: 'Bahnschrift Regular';
    background-color: #757575;
    font-size: 24px;
}

h1 {
    font-family: 'Bahnschrift Regular';
    color: white;
    text-align: center;
    font-size: 24px;
}

h2 {
    font-family: 'Bahnschrift Regular';
    color: white;
    text-align: center;
    font-size: 24px;
}

h3 {
    font-family: 'Bahnschrift Regular';
    color: white;
    text-align: center;
    font-size: 24px;
}

p {
    font-family: 'Bahnschrift Regular';
    color: white;
    font-size: 24px;
}

a {
    font-family: 'Bahnschrift Regular';
    color: white;
    text-align: center;
    font-size: 24px;
}
/* Fonts */
@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 1.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 10.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 11.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 12.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 13.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 14.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 2.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 3.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 4.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 5.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 6.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 7.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 8.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 9.woff') format('woff');
}


@font-face {
font-family: 'Bahnschrift Regular';
font-style: normal;
font-weight: normal;
src: local('Bahnschrift Regular'), url('BAHNSCHRIFT.woff') format('woff');
}
